# Database configuration (PostgreSQL + asyncpg)
DATABASE_URL=postgresql+asyncpg://admin:password@localhost:5432/hse_rag

# Sentence Transformer model name
EMBEDDER_MODEL_NAME=mixedbread-ai/mxbai-embed-large-v1
